/**
 
 @Name: layuiSimpleBlog - 极简博客模板
 @Author: xuzhiwen
 @Copyright: layui.com
 
 */


/*end-menu-btn*/









.content{padding:100px 0 160px 0;}
.content .cont .title{margin-bottom: 60px;}
.content .cont .title a{font-size: 16px; color: #000!important;}
.content .cont .title .layui-breadcrumb span{position: relative; top: -1px; margin:0 16px;}
.content .cont .title a.active,.content .cont .title a:hover{color: #ff7f21!important;}
.content .cont .list-item .layui-fluid{padding:0;}
.content .cont .list-item .item{margin-bottom: 80px; overflow: hidden;}
.content .cont .list-item .item .img img{width: 100%;}
.content .cont .list-item .item .item-cont{padding-left: 100px;}
.content .cont .list-item .item .item-cont .go-icon{width: 33px; height: 11px; background: url(../img/jiantou.png) center center no-repeat; display: block; padding:10px 0; margin-top: 16px;}
.content .cont .list-item .item .item-cont h3{font-size: 24px; margin:20px 0;}
.content .cont .list-item .item .item-cont h3 .new-icon{width: 36px; height: 18px; line-height: 18px; text-align: center; padding:0; margin: -3px 0 0 10px;}
.content .cont .list-item .item .item-cont h5{font-size: 12px; color: #ff7f21; margin-bottom: 32px;}
.content .cont .list-item .item .item-cont p{line-height: 37px;
   display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
.content .review-version{padding:20px; border-top: 1px dashed #dddddd;}
.content .review-version img{float: left;}
.content .review-version .form{margin-bottom: 16px;}
.content .review-version .form .layui-form-item{clear: none;}
.content .review-version .form .layui-input-block{margin-left: 70px;}
.content .review-version .form .layui-input-block .layui-btn{width: 100px; height: 40px; line-height: 40px; background: #ff7f21;}
.content .review-version .list-cont .cont{padding:40px 0 30px 0; border-bottom: 1px solid #e5e5e5;}
.content .review-version .list-cont .cont:last-child{border-bottom: 0;}
.content .review-version .list-cont .cont .text{padding-left: 70px; line-height: 22px; color: #333; } 
.content .review-version .list-cont .cont .text .tit{margin-bottom: 18px;}
.content .review-version .list-cont .cont .text .data{float: right;} 


.footer-wrap{border-top: 1px solid #402863;}
.footer{padding:60px 0 80px 0; position: relative; overflow: hidden;}
.footer .qrcode{float: left;}
.footer .practice-mode{position: absolute; right: 0; overflow: hidden;}
.footer .practice-mode img{float: left;  padding-right: 28px;}
.footer .practice-mode .text{color: #3f2863; float: left;}
.footer .practice-mode .text h4{font-size: 20px; line-height: 60px;}
.footer .practice-mode .text p{line-height: 32px;}
.footer .practice-mode .text p span{padding-left: 24px;}






















