{% extends 'base.html' %}
{% block content %}
{% block title %}订餐管理{% endblock %}
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>订餐信息管理</legend>
        </fieldset>

        <div class="layui-container">
            <a href="{% url '添加菜品' %}" class="layui-btn">添加菜品</a>
            <table class="layui-table" lay-skin="nob">
                {#                <colgroup>#}
                {#                    <col width="100">#}
                {#                    <col width="100">#}
                {#                    <col width="100">#}
                {#                    <col width="100">#}
                {#                </colgroup>#}
                <thead>
                <tr>
                    <th>编号</th>
                    <th>用户</th>
                    <th>份数</th>
                    <th>菜品名称</th>
                    <th>菜品价格</th>
                    <th>菜品图片</th>
                    <th>菜品口味</th>
                    <th>操作</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for d in dinner_this%}
                <tr>
                    <td>{{ forloop.counter }}</td><!--这里可以用forloop实现编号的递增-->
                    <td>{{ d.username }}</td>
                    <td>{{ d.dishnumber }}</td>
                    <td>{{ d.dishname }}</td>
                    <td>{{ d.dishprice}}</td>
                    <td><img src="/media/{{ d.dishphoto }}" ></td>
                    <td>{{ d.dishflavor }}</td>
                    <td><a href="/dinnermanage/{{ d.pk }}/change" class="layui-btn">修改</a></td>
                    <td><a href="/dinnermanage/{{ d.pk }}/delete" class="layui-btn layui-btn-danger">删除</a></td>
                </tr>
                {% endfor %}
{#                <tr>#}
{#                    <td>2</td>#}
{#                    <td>2</td>#}
{#                    <td>1</td>#}
{#                    <td>1</td>#}
{#                    <td>1</td>#}
{##}
{#                    <td><a href="#" class="layui-btn">修改</a></td>#}
{#                </tr>#}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}