{% extends 'base.html' %}
{% block title %}用户管理{% endblock %}

{% block content %}
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>用户信息管理</legend>
        </fieldset>

        <div class="layui-container">
            <table class="layui-table" lay-skin="nob">
                {#                <colgroup>#}
                {#                    <col width="100">#}
                {#                    <col width="100">#}
                {#                    <col width="100">#}
                {#                    <col width="100">#}
                {#                </colgroup>#}
                <thead>
                <tr>
                    <th>编号</th>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>电话</th>
                    <th>身份证号</th>
                    <th>操作</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for u in userList %}
                <tr>
                    <td>{{forloop.counter}}</td><!--这里可以用forloop实现编号的递增-->
                    <td>{{ u.username }}</td>
                    <td>{{ u.userpwd }}</td>
                    <td>{{ u.telephone }}</td>
                    <td>{{ u.sfzid }}</td>
                    <td><a href="/usermanage/{{ u.pk}}/change" class="layui-btn">修改</a></td>
                    <td><a href="/usermanage/{{ u.pk}}/delete" class="layui-btn layui-btn-danger">删除</a></td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{#    <div class="layui-footer">#}
{#        <!-- 底部固定区域 -->#}
{#        © layui.com - 底部固定区域#}
{#    </div>#}
{#</div>#}
{#<script src="{% static 'layui/layui.all.js' %}"></script>#}
{#<script>#}
{#    //JavaScript代码区域#}
{#    layui.use('element', function () {#}
{#        var element = layui.element;#}
{##}
{#    });#}
{#</script>#}

