{% extends 'base.html' %}
{% block title %}用户留言{% endblock %}
{% block content %}
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>用户留言</legend>
        </fieldset>
     <div class="layui-container">
{#         <a href="{% url '公告创建' %}" class="layui-btn">公告创建</a>#}
            <table class="layui-table" lay-skin="nob">
                {#                <colgroup>#}
                {#                    <col width="100">#}
                {#                    <col width="100">#}
                {#                    <col width="100">#}
                {#                    <col width="100">#}
                {#                </colgroup>#}
                <thead>
                <tr>
                    <th>编号</th>
                    <th>用户名</th>
{#                    <th>#</th>#}
                    <th>留言时间</th>
                    <th>内容</th>
{#                    <th>操作</th>#}
{#                    <th>操作</th>#}
                </tr>
                </thead>
                <tbody>
                {% for ul in userLeacots_this %}

                <tr>
                    <td>{{ forloop.counter }}</td><!--这里可以用forloop实现编号的递增-->
                    <td>{{ul.name}}</td>
                    <td>{{ ul.c_time }}</td>
                    <td>{{ ul.leacots }}</td>
{#                    <td><a href="/noticemanage/{{ n.pk }}/change" class="layui-btn">修改</a></td>#}
{#                    <td><a href="/noticemanage/{{ n.pk }}/delete" class="layui-btn layui-btn-danger">删除</a></td>#}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>

    </div>
{% endblock %}